*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
#Header{
    width: 100vw;
    height: 100vh;
    background-color: teal;
    background-image: url(../Asset/left\ mountain.png),url(../Asset/right\ mountain.png),url(../Asset/joshua-earle-9idqIGrLuTE-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 70vw,70vw,100vw;
    background-position:left,right,0vw 0vh;
    transition-delay: 2s;
    transition: background-position 2s,backgrouond-size 1s,transform 2s;
    display: flex;
    justify-content: center;
    align-items: center;

}
#Header:hover{
    background-position: -120vw,120vw,0vw;
    background-size:70vw,70vw,100vw;
    transform: scale(1.2);
}
#pagename{
    font-size: 7vw;
    letter-spacing: 2vw;
    color: rgb(218, 226, 233);
    text-shadow: 2px 2px 10px black;
    transform: scale(0) rotateX(360deg) rotateY(90deg);
    transition:transform 1s ;
}
#Header:hover #pagename{
    transform: scale(1) rotate(0deg);

}
#navbar{
    width: 100vw;
    height: 10vh;
    position: sticky;
    top: 0px;
    background-color: rgb(50,35,90);
    box-shadow: 1px 1px 2px black;
    z-index: 3;
}
#logo{
    width: 7vw;
    position: absolute;
    top: 0px;
    left: 3vw;
    filter: drop-shadow(5px 2px 2px red);
}
#Home,#Places,#Info{
    width: 100vw;
    height: 200vh;
}
#Mainlist{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    position: relative;
    top: 2vh;
}
.li{
    font-size: 2vw;
    cursor: pointer;
    color: black;
}
.li:hover{
    transform: scale(1.3);
    transition: transform 0.3s;
}
a{
    text-decoration: none;
    color: antiquewhite;
}
#Home{
    background-color: rgb(50,35,69);
    position: relative;
    width: 100vw;
    height: 100vh;
}
#Places{
    background-color:rgb(242,242, 242)  ;
    width: 100vw;
    height: 100vh;
}
#Info{
    background-color: rgb(209 250 229);;
}

#Guide{
    width: 300px;
    height: 250px;
    background-color: transparent;
    position:absolute;
    left: 30px;
    top: 190px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black,-5px -5px 5px black;
    z-index: 1;
}
#guideHeading{
    text-align: center;
    padding-top: 30px;
    letter-spacing: 5px;
    text-shadow: 1px 1px 2px black;
    color: orange;
}
#para{
    width: 250px;
    padding: 10px;
    padding-left: 25px;
    text-align: justify;
    font-size: 20px;
    letter-spacing: 2px;
    text-indent: 40px;
    color: white;
}
#ImageContainer{
    width: 50%;
    height: 400px;
    position: absolute;
    top: 10px;
    right: 0px;
    display: flex;
    justify-content:end;
    align-items:end;
    z-index: 0;
}
.imagesinHome{
    width: 150px;
    height: 200px;
    position: relative;
    right: 150px;  
    margin-left:-60px; 
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
    transform: rotateY(25deg) skewY(-20deg);
    transition: transform 1s,box-shadow 1s;
}
.imagesinHome:hover{
    transform: rotateY(0deg) skewY(0deg) translateY(-100px) scale(1.3,1.3);
}
#homePageInfo{
    width: 100vw;
    height: 99vh;
    position: relative;
    border-top: 2px solid white;
    border-bottom:10px groove green ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;
    background-image: linear-gradient(75deg,black,blue);
}
.TravelWaysOfContainer{
    width: 150px;
    height: 150px;
    margin-left: 100px;  
}
.ContainerImage{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    border-radius: 10px;
}
.TravelWaysOfContainer:hover .ContainerImage{
    filter: blur(2px);
}
.TravelText{
    font-size: 30px;
    position: relative;
    bottom: 120px;
    left: 30px;
    color: transparent;
}
#Walk{
    background-image: url(../Asset/walk.jpg);
}
#Bus{
    background-image: url(../Asset/bus.jpg);
}
#Car{
    background-image: url(../Asset/car\ travel.jpeg);
}
#Train{
    background-image: url(../Asset/train\ travel.webp);
}
#Cycle{
    background-image: url(../Asset/rikshaw.webp);
}
#Flight{
    background-image: url(../Asset/flight.jpeg);
}
#Horse{
    background-image: url(../Asset/horse\ travel.webp);
}
#Bike{
    background-image: url(../Asset/biketravel.jpeg);
}
.TravelWaysOfContainer:hover .TravelText{
    color: aliceblue;
}
#PlaceContainer{
    width: 70vw;
    height: 80vh;
    position: absolute;
    top: 15vh;
    left: 15vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
#Places{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: red
}
.Brightness{
    width: 200px;
    height: 200px;
    background-size: 100% 100%;
    padding-left: 30px;
    filter: brightness(40%);    
    border-radius: 20px;   
    display: flex;
    justify-content: center;
    align-items: center;  
    position: relative;
    z-index: 0;
}
.PlaceText{
    color: white;
    font-size: 20px;
    letter-spacing: 5px;
    z-index: 1;
    position: absolute;
}
#Hyderabad{
    background-image: url(../Asset/charminar1.jpg);
    background-size: 100% 300px;
}
#Mumbai{
    background-image: url(../Asset/Gateway-to-India.jpg);
    background-size: 100% 300px;
}
#Golden{
    background-image: url(../Asset/Golden-temple.jpg);
    background-size: 100% 300px;
}
#Agra{
    background-image: url(../Asset/Taj_Mahal.jpg);
    background-size: 100% 300px;
}
#Hampi{
    background-image: url(../Asset/Hampi.jpg);
    background-size: 100% 300px;
}
#Manali{
    background-image: url(../Asset/manali.jpg);
    background-size: 100% 300px;
}
.Brightness:hover{
    transform: scale(1.1);
}

